<<<<<<< HEAD

      <div role="main" class="main">
        <div class="slider-container">
          <div class="slider" id="revolutionSlider" data-plugin-revolution-slider data-plugin-options='{"startheight": 700, "startwidth": 600}'>
            <ul>
              <li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

                <img src="img/slides/landing-page-slide-1.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" alt="">

                <div class="tp-caption sft stb visible-lg"
                   data-x="center" data-hoffset="-150"
                   data-y="240"
                   data-speed="300"
                   data-start="1000"
                   data-easing="easeOutExpo"><img src="img/slides/slide-title-border.png" alt=""></div>

                <div class="tp-caption top-label lfl stl"
                   data-x="center" data-hoffset="0"
                   data-y="240"
                   data-speed="300"
                   data-start="500"
                   data-easing="easeOutExpo">DO YOU NEED A NEW</div>

                <div class="tp-caption sft stb visible-lg"
                   data-x="center" data-hoffset="150"
                   data-y="240"
                   data-speed="300"
                   data-start="1000"
                   data-easing="easeOutExpo"><img src="img/slides/slide-title-border.png" alt=""></div>

                <div class="tp-caption main-label sft stb"
                   data-x="center" data-hoffset="0"
                   data-y="270"
                   data-speed="300"
                   data-start="1500"
                   data-easing="easeOutExpo">WEB DESIGN?</div>

                <div class="tp-caption bottom-label sft stb"
                   data-x="center" data-hoffset="0"
                   data-y="340"
                   data-speed="500"
                   data-start="2000"
                   data-easing="easeOutExpo">Check out our options and features.</div>

                <a class="tp-caption customin btn btn-lg btn-primary main-button" data-hash data-hash-offset="85" href="#home-intro"
                  data-x="center" data-hoffset="0"
                  data-y="390"
                  data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                  data-speed="800"
                  data-start="1700"
                  data-easing="Back.easeInOut"
                  data-endspeed="300">
                    Get Started Now!
                </a>

              </li>
              <li data-slotamount="7" data-masterspeed="1000" data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7">
                <img src="video/landing.jpg" alt="landing" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">

                <div class="tp-caption tp-fade fadeout fullscreenvideo"
                  data-x="0"
                  data-y="0"
                  data-speed="1000"
                  data-start="100"
                  data-easing="Power4.easeOut"
                  data-elementdelay="0.01"
                  data-endelementdelay="0.1"
                  data-endspeed="1500"
                  data-endeasing="Power4.easeIn"
                  data-autoplay="true"
                  data-autoplayonlyfirsttime="false"
                  data-nextslideatend="true"
                  data-volume="mute"
                  data-forceCover="1"
                  data-aspectratio="16:9"
                  style="z-index: 1"
                  data-forcerewind="on">

                  <video preload="none" width="100%" height="100%" poster="video/landing.jpg">
                    <source src="video/landing.mp4" type="video/mp4" />
                    <source src="video/landing.ogv" type="video/ogg">
                  </video>

                </div>

                <div class="tp-caption sft stb visible-lg"
                   data-x="center" data-hoffset="-150"
                   data-y="240"
                   data-speed="300"
                   data-start="1000"
                   style="z-index: 5"
                   data-easing="easeOutExpo"><img src="img/slides/slide-title-border.png" alt=""></div>

                <div class="tp-caption top-label lfl stl"
                   data-x="center" data-hoffset="0"
                   data-y="240"
                   data-speed="300"
                   data-start="500"
                   style="z-index: 5"
                   data-easing="easeOutExpo">START CREATING YOUR</div>

                <div class="tp-caption sft stb visible-lg"
                   data-x="center" data-hoffset="150"
                   data-y="240"
                   data-speed="300"
                   data-start="1000"
                   style="z-index: 5"
                   data-easing="easeOutExpo"><img src="img/slides/slide-title-border.png" alt=""></div>

                <div class="tp-caption main-label sft stb"
                   data-x="center" data-hoffset="0"
                   data-y="270"
                   data-speed="300"
                   data-start="1500"
                   style="z-index: 5"
                   data-easing="easeOutExpo">NEW WEBSITE</div>

                <div class="tp-caption bottom-label sft stb"
                   data-x="center" data-hoffset="0"
                   data-y="340"
                   data-speed="500"
                   data-start="2000"
                   style="z-index: 5"
                   data-easing="easeOutExpo">Join The 18,000+ Happy Customers :)</div>

                <a class="tp-caption customin btn btn-lg btn-primary main-button" data-hash data-hash-offset="85" href="#home-intro"
                  data-x="center" data-hoffset="0"
                  data-y="390"
                  data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                  data-speed="800"
                  data-start="1700"
                  data-easing="Back.easeInOut"
                  style="z-index: 5"
                  data-endspeed="300">
                    Get Started Now!
                </a>

                <div class="tp-dottedoverlay tp-opacity-overlay"></div>

              </li>
            </ul>
          </div>
        </div>
        <div class="home-intro" id="home-intro">
          <div class="container">

            <div class="row">
              <div class="col-md-8">
                <p>
                  The fastest way to create your new and awesome <em>Website</em>
                  <span>Check out our options and features included.</span>
                </p>
              </div>
              <div class="col-md-4">
                <div class="mt-lg mb-xl">
                  <a href="#demos" data-hash class="btn btn-primary mr-md" data-appear-animation="fadeInDown" data-appear-animation-delay="300">SEE DEMO VERSIONS</a> <span  data-appear-animation="fadeInDown" data-appear-animation-delay="600">or <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987">PURCHASE NOW - $16</span></a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="container">

          <div class="row">
            <div class="col-md-12 center">
              <h2 class="word-rotator-title mb-sm">Porto is the <strong>most <span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
                <span class="word-rotate-items">
                  <span>popular</span>
                  <span>awesome</span>
                  <span>incredible</span>
                </span>
              </span></strong> HTML Site template on ThemeForest.</h2>
              <p class="lead">Trusted by over 18,000 satisfied users, Porto is a huge success<br>in the of one of the world’s largest MarketPlace.</p>
            </div>
          </div>
=======
    <%= render 'pages/shortcodes/wrotator' %>
<%= render 'pages/shortcodes/wrotatornobg' %>
>>>>>>> parent of 226458b... revolution slider funcionando dejando carpeta vendor en publico, ver como hacer con la ruta bien
