
      <div role="main" class="main">
<br></br>



        <div class="container">

          <div class="row center">
            <div class="col-md-12">
              <h2 class="shorter word-rotator-title push-top">
                Our <strong>Portfolio</strong>
              </h2>
              <p class="lead push-bottom">
                Check out what we have been doing
              </p>
            </div>
          </div>

        </div>

        <section class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/parallax-image.jpg);">
          <div class="container">
            <div class="row center">
              <div class="col-md-12 center">
                <h2 class="white"><strong>What</strong> Client’s Say</h2>
                <div class="row">
                  <div class="owl-carousel testimonials" data-plugin-options='{"items": 1}'>
                    <div>
                      <div class="col-md-12">
                        <img src="img/clients/client-1.jpg" class="img-responsive img-circle" alt="">
                        <blockquote class="testimonial-carousel">
                        <p>This theme is totally customizable, clean with all the options you could want. Don't want full screen layout? With one word added to the code the entire site becomes a boxed version.... The customer support is absolutely unsurpassed. Every question is answered with more help than anyone could expect for the price. Can not recommend this enough.</p>
                        </blockquote>
                        <p class="white"><strong>John Smith</strong><br><span>CEO & Founder - Okler</span></p>
                      </div>
                    </div>
                    <div>
                      <div class="col-md-12">
                        <img src="img/clients/client-1.jpg" class="img-responsive img-circle" alt="">
                        <blockquote class="testimonial-carousel">
                        <p>Excellent customer support. I had a minor issue with getting the contact form to work and I was provided with a solution within 8 hours and over the weekend. </p>
                        </blockquote>
                        <p class="white"><strong>John Smith</strong><br><span>CEO & Founder - Okler</span></p>
                      </div>
                    </div>
                    <div>
                      <div class="col-md-12">
                        <img src="img/clients/client-1.jpg" class="img-responsive img-circle" alt="">
                        <blockquote class="testimonial-carousel">
                        <p>Outstanding about everything : - Support is fast and perfect : I got answers to every questions I asked. - Code quality is up to date, modern, structured, clear, easy to understand. </p>
                        </blockquote>
                        <p class="white"><strong>John Smith</strong><br><span>CEO & Founder - Okler</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="container">
          <div class="row center">
            <div class="col-md-12">
              <h2 class="shorter word-rotator-title">
                We're not the only ones
                <strong>
                  <span class="word-rotate" data-plugin-options='{"delay": 3500, "animDelay": 400}'>
                    <span class="word-rotate-items">
                      <span>excited</span>
                      <span>happy</span>
                    </span>
                  </span>
                </strong>
                about Porto Template...
              </h2>
              <p class="lead">13,000+ customers in more than 100 countries use Porto Template.</p>
            </div>
          </div>
          <div class="row center push-top">
            <div class="owl-carousel" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
              <div>
                <img class="img-responsive" src="img/logos/logo-1.png" alt="">
              </div>
              <div>
                <img class="img-responsive" src="img/logos/logo-2.png" alt="">
              </div>
              <div>
                <img class="img-responsive" src="img/logos/logo-3.png" alt="">
              </div>
              <div>
                <img class="img-responsive" src="img/logos/logo-4.png" alt="">
              </div>
              <div>
                <img class="img-responsive" src="img/logos/logo-5.png" alt="">
              </div>
              <div>
                <img class="img-responsive" src="img/logos/logo-6.png" alt="">
              </div>
              <div>
                <img class="img-responsive" src="img/logos/logo-4.png" alt="">
              </div>
              <div>
                <img class="img-responsive" src="img/logos/logo-2.png" alt="">
              </div>
            </div>
          </div>
        </div>

        <section class="call-to-action featured footer">
          <div class="container">
            <div class="row">
              <div class="center">
                <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website! <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-primary" data-appear-animation="bounceIn">Buy Now!</a> <span class="arrow hlb hidden-xs hidden-sm hidden-md" data-appear-animation="rotateInUpLeft" style="top: -22px;"></span></h3>
              </div>
            </div>
          </div>
        </section>

      </div>
