<div class="home-intro" id="home-intro">
      <div class="container">

        <div class="row">
          <div class="col-md-8">
            <p>
             Productos de <em>calidad </em>
              <span>Servicio tecnico y garantia de un año en todos nuestros productos.</span>
            </p>
          </div>
          <div class="col-md-4">
            <div class="get-started">
              <!---<a href="#" class="btn btn-lg btn-primary">Get Started Now!</a> -->
              <div class="learn-more">or <a href="index.html">Mas información.</a></div>
            </div>
          </div>
        </div>

      </div>
    </div>
