
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-none">Accordions Shortcodes</h2>
        <p>Accordions are great to show the content of your website and can be set in different styles.</p>

        <hr class="tall">
      </div>
    </div>

    <div class="row">

      <div class="col-md-12">
        <h4>Default</h4>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                  Accordion Title 1
                </a>
              </h4>
            </div>
            <div id="collapse1One" class="accordion-body collapse in">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Two">
                  Accordion Title 2
                </a>
              </h4>
            </div>
            <div id="collapse1Two" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Three">
                  Accordion Title 3
                </a>
              </h4>
            </div>
            <div id="collapse1Three" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="tall">

        <h4>Colors</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="panel-group panel-group-primary" id="accordion2Primary">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2Primary" href="#collapse2PrimaryOne">
                  Accordion Title 1
                </a>
              </h4>
            </div>
            <div id="collapse2PrimaryOne" class="accordion-body collapse in">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2Primary" href="#collapse2PrimaryTwo">
                  Accordion Title 2
                </a>
              </h4>
            </div>
            <div id="collapse2PrimaryTwo" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2Primary" href="#collapse2PrimaryThree">
                  Accordion Title 3
                </a>
              </h4>
            </div>
            <div id="collapse2PrimaryThree" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel-group panel-group-secondary" id="accordion2Secondary">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2Secondary" href="#collapse2SecondaryOne">
                  Accordion Title 1
                </a>
              </h4>
            </div>
            <div id="collapse2SecondaryOne" class="accordion-body collapse in">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2Secondary" href="#collapse2SecondaryTwo">
                  Accordion Title 2
                </a>
              </h4>
            </div>
            <div id="collapse2SecondaryTwo" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2Secondary" href="#collapse2SecondaryThree">
                  Accordion Title 3
                </a>
              </h4>
            </div>
            <div id="collapse2SecondaryThree" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel-group panel-group-tertiary" id="accordion2Tertiary">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2Tertiary" href="#collapse2TertiaryOne">
                  Accordion Title 1
                </a>
              </h4>
            </div>
            <div id="collapse2TertiaryOne" class="accordion-body collapse in">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2Tertiary" href="#collapse2TertiaryTwo">
                  Accordion Title 2
                </a>
              </h4>
            </div>
            <div id="collapse2TertiaryTwo" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2Tertiary" href="#collapse2TertiaryThree">
                  Accordion Title 3
                </a>
              </h4>
            </div>
            <div id="collapse2TertiaryThree" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel-group panel-group-quaternary" id="accordion2Quaternary">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2Quaternary" href="#collapse2QuaternaryOne">
                  Accordion Title 1
                </a>
              </h4>
            </div>
            <div id="collapse2QuaternaryOne" class="accordion-body collapse in">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2Quaternary" href="#collapse2QuaternaryTwo">
                  Accordion Title 2
                </a>
              </h4>
            </div>
            <div id="collapse2QuaternaryTwo" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2Quaternary" href="#collapse2QuaternaryThree">
                  Accordion Title 3
                </a>
              </h4>
            </div>
            <div id="collapse2QuaternaryThree" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="tall">
      </div>
    </div>

    <div class="row">

      <div class="col-md-3">

        <h4>Small</h4>
        <div class="panel-group panel-group-sm" id="accordion3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse3One">
                  Accordion Title 1
                </a>
              </h4>
            </div>
            <div id="collapse3One" class="accordion-body collapse in">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse3Two">
                  Accordion Title 2
                </a>
              </h4>
            </div>
            <div id="collapse3Two" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse3Three">
                  Accordion Title 3
                </a>
              </h4>
            </div>
            <div id="collapse3Three" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">

        <h4>Default</h4>
        <div class="panel-group" id="accordion4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse4One">
                  Accordion Title 1
                </a>
              </h4>
            </div>
            <div id="collapse4One" class="accordion-body collapse in">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse4Two">
                  Accordion Title 2
                </a>
              </h4>
            </div>
            <div id="collapse4Two" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse4Three">
                  Accordion Title 3
                </a>
              </h4>
            </div>
            <div id="collapse4Three" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <h4>Large</h4>
        <div class="panel-group panel-group-lg" id="accordion5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse5One">
                  Accordion Title 1
                </a>
              </h4>
            </div>
            <div id="collapse5One" class="accordion-body collapse in">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
                <img class="pull-left" width="150" height="106" src="img/device.png" alt="">
                <p>Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse5Two">
                  Accordion Title 2
                </a>
              </h4>
            </div>
            <div id="collapse5Two" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapse5Three">
                  Accordion Title 3
                </a>
              </h4>
            </div>
            <div id="collapse5Three" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="tall">
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">

        <h4>With Icons</h4>
        <div class="panel-group" id="accordion6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6" href="#collapse6One">
                  <i class="fa fa-group"></i> Accordion Title 1
                </a>
              </h4>
            </div>
            <div id="collapse6One" class="accordion-body collapse in">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6" href="#collapse6Two">
                  <i class="fa fa-film"></i> Accordion Title 2
                </a>
              </h4>
            </div>
            <div id="collapse6Two" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion6" href="#collapse6Three">
                  <i class="fa fa-bars"></i> Accordion Title 3
                </a>
              </h4>
            </div>
            <div id="collapse6Three" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">

        <h4>Without Background</h4>
        <div class="panel-group without-bg" id="accordion7">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion7" href="#collapse7One">
                  Accordion Title 1
                </a>
              </h4>
            </div>
            <div id="collapse7One" class="accordion-body collapse in">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion7" href="#collapse7Two">
                  Accordion Title 2
                </a>
              </h4>
            </div>
            <div id="collapse7Two" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion7" href="#collapse7Three">
                  Accordion Title 3
                </a>
              </h4>
            </div>
            <div id="collapse7Three" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">

        <h4>Without Borders and Background</h4>
        <div class="panel-group without-bg without-borders" id="accordion8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion8" href="#collapse8One">
                  Accordion Title 1
                </a>
              </h4>
            </div>
            <div id="collapse8One" class="accordion-body collapse in">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion8" href="#collapse8Two">
                  Accordion Title 2
                </a>
              </h4>
            </div>
            <div id="collapse8Two" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion8" href="#collapse8Three">
                  Accordion Title 3
                </a>
              </h4>
            </div>
            <div id="collapse8Three" class="accordion-body collapse">
              <div class="panel-body">
                <p>Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
