

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-none">Call to Action Shortcodes</h2>
        <p>Call to Action are great to show the content of your website and can be set in different styles.</p>

        <hr class="tall">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4>Default</h4>
        <section class="call-to-action mb-xl">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-primary">Buy Now!</a>
          </div>
        </section>

        <hr class="tall">

        <h4>With Borders</h4>
        <section class="call-to-action with-borders mb-xl">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-primary">Buy Now!</a>
          </div>
        </section>

        <section class="call-to-action with-full-borders mb-xl">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-primary">Buy Now!</a>
          </div>
        </section>

        <hr class="tall">

        <h4>Featured</h4>
        <section class="call-to-action featured featured-primary mb-xl">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-primary">Buy Now!</a>
          </div>
        </section>

        <section class="call-to-action featured featured-secondary mb-xl">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-default">Buy Now!</a>
          </div>
        </section>

        <section class="call-to-action featured featured-tertiary mb-xl">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-default">Buy Now!</a>
          </div>
        </section>

        <section class="call-to-action featured featured-quaternary mb-xl">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-default">Buy Now!</a>
          </div>
        </section>

        <hr class="tall">

        <h4>Colors</h4>
        <section class="call-to-action call-to-action-primary mb-xl">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-default">Buy Now!</a>
          </div>
        </section>

        <section class="call-to-action call-to-action-secondary mb-xl">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-default">Buy Now!</a>
          </div>
        </section>

        <section class="call-to-action call-to-action-tertiary mb-xl">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-default">Buy Now!</a>
          </div>
        </section>

        <section class="call-to-action call-to-action-quaternary mb-xl">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-default">Buy Now!</a>
          </div>
        </section>

        <section class="call-to-action call-to-action-default mb-xl">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-default">Buy Now!</a>
          </div>
        </section>

        <hr class="tall">

        <h4>With Arrow</h4>
        <section class="call-to-action with-borders with-button-arrow mb-xl">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-primary">Buy Now!</a><span class="arrow hlb hidden-xs hidden-sm hidden-md" data-appear-animation="rotateInUpLeft" style="top: -12px;"></span>
          </div>
        </section>

        <hr class="tall">

        <h4>Animated</h4>
        <section class="call-to-action with-borders mb-xl" data-appear-animation="fadeIn">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-primary">Buy Now!</a>
          </div>
        </section>

        <hr class="tall">

        <h4>Button Centered</h4>
        <section class="call-to-action with-borders button-centered mb-xl">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-primary">Buy Now!</a>
          </div>
        </section>

        <hr class="tall">

        <h4>Small</h4>
        <div class="row">
          <div class="col-md-4">
            <section class="call-to-action with-borders button-centered mb-xl">
              <div class="call-to-action-content">
                <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
                <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
              </div>
              <div class="call-to-action-btn">
                <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-primary">Buy Now!</a>
              </div>
            </section>
          </div>
          <div class="col-md-4">
            <section class="call-to-action call-to-action-primary button-centered mb-xl">
              <div class="call-to-action-content">
                <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
                <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
              </div>
              <div class="call-to-action-btn">
                <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-default">Buy Now!</a>
              </div>
            </section>
          </div>
          <div class="col-md-4">
            <section class="call-to-action call-to-action-quaternary button-centered mb-xl">
              <div class="call-to-action-content">
                <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
                <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
              </div>
              <div class="call-to-action-btn">
                <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-primary">Buy Now!</a>
              </div>
            </section>
          </div>
        </div>

        <hr class="tall">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Full Width</h4>
      </div>
    </div>
  </div>

  <section class="call-to-action call-to-action-primary mb-xl">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-default">Buy Now!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-dark mb-xl">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-default">Buy Now!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-default mb-xl">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-default">Buy Now!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action with-borders mb-xl">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-default">Buy Now!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr class="tall">

        <h4>Parallax</h4>
      </div>
    </div>
  </div>

  <section class="parallax section section-text-light section-parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/parallax-image.jpg);">
    <section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="call-to-action-content">
              <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
              <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
            </div>
            <div class="call-to-action-btn">
              <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-primary">Buy Now!</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr class="tall">

        <h4>Footer</h4>
      </div>
    </div>
  </div>

  <section class="call-to-action call-to-action-default with-button-arrow call-to-action-in-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="call-to-action-content">
            <h3>Porto is <strong>everything</strong> you need to create an <strong>awesome</strong> website!</h3>
            <p>The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</p>
          </div>
          <div class="call-to-action-btn">
            <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-lg btn-primary">Buy Now!</a><span class="arrow hlb hidden-xs hidden-sm hidden-md" data-appear-animation="rotateInUpLeft" style="top: -12px;"></span>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
