
<div class="body">


    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h2 class="mb-none">Dividers Shortcodes</h2>
          <p>Sometimes you need to separate the content visually, here are the options:</p>

          <h4 class="mt-xlg">Default</h4>
          <hr>

          <h4>Spacements</h4>
          <hr class="short">
          <hr class="tall">
          <hr class="taller">

          <h4>Styles</h4>
          <hr class="solid tall">

          <hr class="dashed tall">

          <hr class="pattern tall">

          <hr class="pattern pattern-2 tall">

          <h4>Icons</h4>
          <div class="divider">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider">
            <i class="fa fa-star"></i>
          </div>

          <div class="divider">
            <i class="fa fa-bolt"></i>
          </div>

          <div class="divider divider-solid">
            <i class="fa fa-chevron-down"></i>
          </div>

          <h4>Colors</h4>
          <div class="divider">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-primary">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-secondary">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-tertiary">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-quaternary">
            <i class="fa fa-chevron-down"></i>
          </div>

          <hr class="invisible">

          <div class="divider divider-style-2 taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-style-2 divider-primary taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-style-2 divider-secondary taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-style-2 divider-tertiary taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-style-2 divider-quaternary taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <hr class="invisible">

          <div class="divider divider-style-3 divider-primary taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-style-3 divider-secondary taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-style-3 divider-tertiary taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-style-3 divider-quaternary taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <hr class="invisible">

          <div class="divider divider-style-4 taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-style-4 divider-primary taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-style-4 divider-secondary taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-style-4 divider-tertiary taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-style-4 divider-quaternary taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider pattern divider-style-4 divider-quaternary taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <h4 class="mt-lg mb-none">Full Width</h4>
        </div>
      </div>
    </div>

    <div class="divider divider-solid divider-style-4 taller">
      <i class="fa fa-chevron-down"></i>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">

              <h4 class="mt-lg mb-none">Icon Sizes</h4>
              <div class="divider divider-style-4 divider-icon-sm taller">
                <i class="fa fa-chevron-down"></i>
              </div>

              <div class="divider divider-style-4 taller">
                <i class="fa fa-chevron-down"></i>
              </div>

              <div class="divider divider-style-4 divider-icon-lg">
                <i class="fa fa-chevron-down"></i>
              </div>

            </div>
            <div class="col-md-6">
              <h4 class="mt-lg mb-none">Icon Positions</h4>
              <div class="divider divider-solid divider-style-4 divider-left divider-icon-sm taller">
                <i class="fa fa-chevron-down"></i>
              </div>

              <div class="divider divider-solid divider-style-4 divider-icon-sm taller">
                <i class="fa fa-chevron-down"></i>
              </div>

              <div class="divider divider-solid divider-style-4 divider-icon-sm divider-right">
                <i class="fa fa-chevron-down"></i>
              </div>
            </div>
          </div>

          <h4 class="mt-lg mb-none">Sizes</h4>

          <div class="divider divider-style-4 divider-solid divider-xs divider-icon-sm taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-style-4 divider-solid divider-sm taller">
            <i class="fa fa-chevron-down"></i>
          </div>

          <div class="divider divider-style-4 divider-solid divider-icon-lg">
            <i class="fa fa-chevron-down"></i>
          </div>

          <h4 class="mt-lg mb-none">Animations</h4>

          <div class="divider divider-style-4 taller" data-appear-animation="bounceIn" data-appear-animation-delay="300">
            <i class="fa fa-chevron-down"></i>
          </div>

          <h4 class="mt-lg">Small Lines</h4>

          <hr class="invisible">

          <div class="row">
            <div class="col-md-4">
              <div class="feature-box">
                <div class="feature-box-icon">
                  <i class="fa fa-group"></i>
                </div>
                <div class="feature-box-info">
                  <h4 class="mb-sm">Customer Support</h4>
                  <div class="divider divider-small">
                    <hr>
                  </div>
                  <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="featured-boxes featured-boxes-style-4">
                <div class="featured-box featured-box-primary mt-none mb-none">
                  <div class="box-content">
                    <i class="icon-featured fa fa-user"></i>
                    <h4>Loved by Customers</h4>
                    <div class="divider divider-small divider-small-center">
                      <hr>
                    </div>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature-box reverse">
                <div class="feature-box-icon">
                  <i class="fa fa-group"></i>
                </div>
                <div class="feature-box-info">
                  <h4 class="mb-sm">Customer Support</h4>
                  <div class="divider divider-small divider-small-right">
                    <hr>
                  </div>
                  <p class="tall">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
                </div>
              </div>
            </div>
          </div>

          <hr class="invisible">

          <div class="row">
            <div class="col-md-4">

              <h4 class="mt-lg">Colors</h4>

              <hr class="invisible">

              <div class="divider divider-small">
                <hr>
              </div>

              <div class="divider divider-primary divider-small">
                <hr>
              </div>

              <div class="divider divider-secondary divider-small">
                <hr>
              </div>

              <div class="divider divider-tertiary divider-small">
                <hr>
              </div>

              <div class="divider divider-quaternary divider-small">
                <hr>
              </div>

              <div class="divider divider-light divider-small">
                <hr>
              </div>

            </div>
            <div class="col-md-4">

              <h4 class="mt-lg">Spacements</h4>

              <hr class="invisible">

              <div class="divider divider-small">
                <hr>
              </div>

              <div class="divider divider-small tall">
                <hr>
              </div>

              <div class="divider divider-small taller">
                <hr>
              </div>

            </div>
            <div class="col-md-4">

              <h4 class="mt-lg">Sizes</h4>

              <hr class="invisible">

              <div class="divider divider-small divider-small-sm">
                <hr>
              </div>

              <div class="divider divider-small">
                <hr>
              </div>

              <div class="divider divider-small divider-small-lg">
                <hr>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

