

  <div class="row">
  <!-- video youtube grande-->
                <div class="col-md-12">

                  <h4>YouTube</h4>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/oNBBijn4JuY?showinfo=0&amp;wmode=opaque"></iframe>
                  </div>

                  <hr class="tall">
<!--video vimeo -->
                  <h4>Vimeo</h4>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="http://player.vimeo.com/video/67957799" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>

                  <hr class="tall">
<!-- 4:3 -->
                  <div class="row">
                    <div class="col-md-6">
                      <h4>4:3 aspect ratio</h4>
                      <div class="embed-responsive embed-responsive-4by3 mb-none">
                        <iframe frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/gQaXbSPQoDQ?showinfo=0&amp;wmode=opaque"></iframe>
                      </div>
                    </div>


                    <!-- con borde -->
                    <div class="col-md-6">
                      <h4>With Borders</h4>
                      <div class="embed-responsive-borders">
                        <div class="embed-responsive embed-responsive-16by9">
                          <iframe frameborder="0" allowfullscreen="" src="http://www.youtube.com/embed/oNBBijn4JuY?showinfo=0&amp;wmode=opaque"></iframe>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr class="tall">


<!-- iframe -->

'<iframe width="1000" height="1000" src="http://www.youtube.com/embed/r15LIHzG_F0" frameborder="0" allowfullscreen></iframe>'