
      <div class="row">
        <div class="col-md-12">
          <h1>Icon Boxes</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-none">Icon Boxes Shortcodes</h2>
        <p>Icon Boxes are great to show the content of your website and can be set in different styles.</p>
      </div>
    </div>

    <div class="featured-boxes featured-boxes-style-8">
      <div class="row">
        <div class="col-md-6">
          <div class="featured-box featured-box-primary featured-box-text-left">
            <div class="box-content">
              <div class="row">
                <div class="col-md-9">
                  <h2>Loved by Customers</h2>
                </div>
                <div class="col-md-3">
                  <div class="align-right">
                    <i class="icon-featured fa fa-user"></i>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
                  <button class="btn btn-lg btn-primary mr-xs mb-lg" type="button">Learn More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="featured-box featured-box-secondary featured-box-text-left">
            <div class="box-content">
              <div class="row">
                <div class="col-md-12">
                  <i class="icon-featured fa fa-book pull-left mr-lg"></i> <h2>Well Documented</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
                  <button class="btn btn-lg btn-secondary mr-xs mb-lg" type="button">Learn More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="featured-box featured-box-tertiary mt-sm">
            <div class="box-content">
              <div class="row">
                <div class="col-md-12">
                  <i class="icon-featured fa fa-trophy m-none"></i>
                  <h2 class="mb-none">Winner</h2>
                  <div class="divider divider-small divider-small-center">
                    <hr>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
                  <button class="btn btn-tertiary mr-xs mb-lg" type="button">Learn More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="featured-box featured-box-quaternary mt-sm">
            <div class="box-content">
              <div class="row">
                <div class="col-md-12">
                  <i class="icon-featured fa fa-cogs m-none"></i>
                  <h2 class="mb-lg">Customizable</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.</p>
                  <div class="divider divider-small divider-small-center">
                    <hr>
                  </div>
                  <button class="btn btn-quaternary mr-xs mb-lg" type="button">Learn More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="tall">

    <div class="featured-boxes">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="featured-box featured-box-primary featured-box-effect-1">
            <div class="box-content">
              <i class="icon-featured fa fa-user"></i>
              <h4 class="text-uppercase">Loved by Customers</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
              <p><a href="/" class="lnk-primary learn-more">Learn More <i class="fa fa-angle-right"></i></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="featured-box featured-box-secondary featured-box-effect-1">
            <div class="box-content">
              <i class="icon-featured fa fa-book"></i>
              <h4 class="text-uppercase">Well Documented</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
              <p><a href="/" class="lnk-secondary learn-more">Learn more <i class="fa fa-angle-right"></i></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="featured-box featured-box-tertiary featured-box-effect-1">
            <div class="box-content">
              <i class="icon-featured fa fa-trophy"></i>
              <h4 class="text-uppercase">Winner</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
              <p><a href="/" class="lnk-tertiary learn-more">Learn more <i class="fa fa-angle-right"></i></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="featured-box featured-box-quaternary featured-box-effect-1">
            <div class="box-content">
              <i class="icon-featured fa fa-cogs"></i>
              <h4 class="text-uppercase">Customizable</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
              <p><a href="/" class="lnk-quaternary learn-more">Learn more <i class="fa fa-angle-right"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="tall">

    <div class="featured-boxes featured-boxes-flat">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="featured-box featured-box-primary featured-box-effect-2">
            <div class="box-content">
              <i class="icon-featured fa fa-user"></i>
              <h4>Loved by Customers</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="featured-box featured-box-secondary featured-box-effect-2">
            <div class="box-content">
              <i class="icon-featured fa fa-book"></i>
              <h4>Well Documented</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="featured-box featured-box-tertiary featured-box-effect-2">
            <div class="box-content">
              <i class="icon-featured fa fa-trophy"></i>
              <h4>Winner</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="featured-box featured-box-quaternary featured-box-effect-2">
            <div class="box-content">
              <i class="icon-featured fa fa-cogs"></i>
              <h4>Customizable</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="tall">

    <div class="featured-boxes featured-boxes-style-3 featured-boxes-flat">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="featured-box featured-box-primary featured-box-effect-3">
            <div class="box-content">
              <i class="icon-featured fa fa-user"></i>
              <h4>Loved by Customers</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="featured-box featured-box-secondary featured-box-effect-3">
            <div class="box-content">
              <i class="icon-featured fa fa-book"></i>
              <h4>Well Documented</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="featured-box featured-box-tertiary featured-box-effect-3">
            <div class="box-content">
              <i class="icon-featured fa fa-trophy"></i>
              <h4>Winner</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="featured-box featured-box-quaternary featured-box-effect-3">
            <div class="box-content">
              <i class="icon-featured fa fa-cogs"></i>
              <h4>Customizable</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="tall">

    <div class="featured-boxes featured-boxes-style-2">
      <div class="row">
        <div class="col-md-3">
          <div class="featured-box featured-box-primary featured-box-effect-4">
            <div class="box-content">
              <i class="icon-featured fa fa-user"></i>
              <h4>Loved by Customers</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-secondary featured-box-effect-4">
            <div class="box-content">
              <i class="icon-featured fa fa-book"></i>
              <h4>Well Documented</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-tertiary featured-box-effect-4">
            <div class="box-content">
              <i class="icon-featured fa fa-trophy"></i>
              <h4>Winner</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-quaternary featured-box-effect-4">
            <div class="box-content">
              <i class="icon-featured fa fa-cogs"></i>
              <h4>Customizable</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="tall">

    <div class="featured-boxes featured-boxes-style-3">
      <div class="row">
        <div class="col-md-3">
          <div class="featured-box featured-box-primary featured-box-effect-3">
            <div class="box-content">
              <i class="icon-featured fa fa-user"></i>
              <h4>Loved by Customers</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-secondary featured-box-effect-3">
            <div class="box-content">
              <i class="icon-featured fa fa-book"></i>
              <h4>Well Documented</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-tertiary featured-box-effect-3">
            <div class="box-content">
              <i class="icon-featured fa fa-trophy"></i>
              <h4>Winner</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-quaternary featured-box-effect-3">
            <div class="box-content">
              <i class="icon-featured fa fa-cogs"></i>
              <h4>Customizable</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="tall">

    <div class="featured-boxes featured-boxes-style-4">
      <div class="row">
        <div class="col-md-3">
          <div class="featured-box featured-box-primary featured-box-effect-5">
            <div class="box-content">
              <i class="icon-featured fa fa-user"></i>
              <h4>Loved by Customers</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-secondary featured-box-effect-5">
            <div class="box-content">
              <i class="icon-featured fa fa-book"></i>
              <h4>Well Documented</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-tertiary featured-box-effect-5">
            <div class="box-content">
              <i class="icon-featured fa fa-trophy"></i>
              <h4>Winner</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-quaternary featured-box-effect-5">
            <div class="box-content">
              <i class="icon-featured fa fa-cogs"></i>
              <h4>Customizable</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="tall">

    <div class="featured-boxes featured-boxes-style-5">
      <div class="row">
        <div class="col-md-3">
          <div class="featured-box featured-box-primary featured-box-effect-4">
            <div class="box-content">
              <i class="icon-featured fa fa-user"></i>
              <h4>Loved by Customers</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-secondary featured-box-effect-4">
            <div class="box-content">
              <i class="icon-featured fa fa-book"></i>
              <h4>Well Documented</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-tertiary featured-box-effect-4">
            <div class="box-content">
              <i class="icon-featured fa fa-trophy"></i>
              <h4>Winner</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-quaternary featured-box-effect-4">
            <div class="box-content">
              <i class="icon-featured fa fa-cogs"></i>
              <h4>Customizable</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="tall">

    <div class="featured-boxes featured-boxes-style-6">
      <div class="row">
        <div class="col-md-3">
          <div class="featured-box featured-box-primary featured-box-effect-6">
            <div class="box-content">
              <i class="icon-featured fa fa-user"></i>
              <h4>Loved by Customers</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-secondary featured-box-effect-6">
            <div class="box-content">
              <i class="icon-featured fa fa-book"></i>
              <h4>Well Documented</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-tertiary featured-box-effect-6">
            <div class="box-content">
              <i class="icon-featured fa fa-trophy"></i>
              <h4>Winner</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-quaternary featured-box-effect-6">
            <div class="box-content">
              <i class="icon-featured fa fa-cogs"></i>
              <h4>Customizable</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="tall">

    <div class="featured-boxes featured-boxes-style-7">
      <div class="row">
        <div class="col-md-3">
          <div class="featured-box featured-box-primary featured-box-effect-7">
            <div class="box-content">
              <i class="icon-featured fa fa-user"></i>
              <h4>Loved by Customers</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-secondary featured-box-effect-7">
            <div class="box-content">
              <i class="icon-featured fa fa-book"></i>
              <h4>Well Documented</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-tertiary featured-box-effect-7">
            <div class="box-content">
              <i class="icon-featured fa fa-trophy"></i>
              <h4>Winner</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box featured-box-quaternary featured-box-effect-7">
            <div class="box-content">
              <i class="icon-featured fa fa-cogs"></i>
              <h4>Customizable</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="tall">

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="feature-box">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box">
              <div class="feature-box-icon">
                <i class="fa fa-film"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Sliders</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box dark">
              <div class="feature-box-icon">
                <i class="fa fa-bars"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Elite</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
              </div>
            </div>
          </div>
        </div>

        <hr class="tall">

        <div class="row">
          <div class="col-md-4">
            <div class="feature-box feature-box-style-3">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box feature-box-style-3">
              <div class="feature-box-icon">
                <i class="fa fa-film"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Sliders</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box feature-box-style-3">
              <div class="feature-box-icon">
                <i class="fa fa-bars"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Elite</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
              </div>
            </div>
          </div>
        </div>

        <hr class="tall">

        <div class="row">
          <div class="col-md-4">
            <div class="feature-box feature-box-style-6">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box feature-box-style-6">
              <div class="feature-box-icon">
                <i class="fa fa-film"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Sliders</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box feature-box-style-6">
              <div class="feature-box-icon">
                <i class="fa fa-bars"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Elite</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
              </div>
            </div>
          </div>
        </div>

        <hr class="tall">

        <div class="row">
          <div class="col-md-4">
            <div class="feature-box feature-box-style-2">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box feature-box-style-2">
              <div class="feature-box-icon">
                <i class="fa fa-film"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Sliders</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box feature-box-style-2">
              <div class="feature-box-icon">
                <i class="fa fa-bars"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Elite</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
              </div>
            </div>
          </div>
        </div>

        <hr class="tall">

        <div class="row">
          <div class="col-md-4">
            <div class="feature-box feature-box-style-5">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm text-uppercase">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box feature-box-style-5">
              <div class="feature-box-icon">
                <i class="fa fa-film"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm text-uppercase">Sliders</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box feature-box-style-5">
              <div class="feature-box-icon">
                <i class="fa fa-bars"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm text-uppercase">Elite</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
              </div>
            </div>
          </div>
        </div>

        <hr class="tall">

        <div class="row">
          <div class="col-md-4">
            <div class="feature-box feature-box-style-4">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm text-uppercase">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box feature-box-style-4">
              <div class="feature-box-icon">
                <i class="fa fa-film"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm text-uppercase">Sliders</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box feature-box-style-4">
              <div class="feature-box-icon">
                <i class="fa fa-bars"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm text-uppercase">Elite</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
              </div>
            </div>
          </div>
        </div>

        <hr class="tall">

        <div class="row">
          <div class="col-md-3">
            <div class="feature-box feature-box-primary">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="feature-box feature-box-style-2 feature-box-secondary">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="feature-box feature-box-style-3 feature-box-tertiary">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="feature-box feature-box-style-4 feature-box-quaternary">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="tall">

        <h4>Full Width</h4>
      </div>
    </div>

  </div>

  <div class="featured-boxes-full featured-boxes-full-scale">
    <div class="col-md-3">
      <div class="featured-box-full featured-box-full-primary">
        <i class="fa fa-group"></i>
        <h4>Customer Support</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="featured-box-full featured-box-full-primary">
        <i class="fa fa-film"></i>
        <h4>Sliders</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="featured-box-full featured-box-full-primary">
        <i class="fa fa-trophy"></i>
        <h4>Winner</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="featured-box-full featured-box-full-primary">
        <i class="fa fa-cogs"></i>
        <h4>Customizable</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr class="tall">

        <h4>Colors</h4>
      </div>
    </div>
  </div>

  <div class="featured-boxes-full">
    <div class="col-md-3">
      <div class="featured-box-full featured-box-full-primary">
        <i class="fa fa-group"></i>
        <h4>Customer Support</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="featured-box-full featured-box-full-secondary">
        <i class="fa fa-film"></i>
        <h4>Sliders</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="featured-box-full featured-box-full-tertiary">
        <i class="fa fa-trophy"></i>
        <h4>Winner</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="featured-box-full featured-box-full-quaternary">
        <i class="fa fa-cogs"></i>
        <h4>Customizable</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr class="tall">

        <h4>Animations</h4>

        <div class="featured-boxes featured-boxes-style-4">
          <div class="row">
            <div class="col-md-3">
              <div class="featured-box featured-box-primary" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                <div class="box-content">
                  <i class="icon-featured fa fa-user"></i>
                  <h4>Loved by Customers</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="featured-box featured-box-secondary" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                <div class="box-content">
                  <i class="icon-featured fa fa-book"></i>
                  <h4>Well Documented</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="featured-box featured-box-tertiary" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
                <div class="box-content">
                  <i class="icon-featured fa fa-trophy"></i>
                  <h4>Winner</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="featured-box featured-box-quaternary" data-appear-animation="fadeInUp" data-appear-animation-delay="1200">
                <div class="box-content">
                  <i class="icon-featured fa fa-cogs"></i>
                  <h4>Customizable</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr class="tall">
        <h4>Reverse / Normal</h4>

        <div class="row">
          <div class="col-md-6">
            <div class="feature-box reverse">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-box">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="feature-box feature-box-style-3 reverse">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-box feature-box-style-3">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="feature-box feature-box-style-6 reverse">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-box feature-box-style-6">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="feature-box feature-box-style-2 reverse">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-box feature-box-style-2">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="feature-box feature-box-style-5 reverse">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-box feature-box-style-5">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="feature-box feature-box-style-4 reverse">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-box feature-box-style-4">
              <div class="feature-box-icon">
                <i class="fa fa-group"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">Customer Support</h4>
                <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
