

<div role="main" class="main">

  <section class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Shortcodes</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Lists</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="container">

    <div class="row">
      <div class="col-md-9">

        <div class="row">
          <div class="col-md-12">
            <h2 class="mb-none">Lists Shortcodes</h2>
            <p>Check out all the Lists options.</p>

            <hr class="tall">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h4>Icons</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <ul class="list list-icons">
              <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec dui consectetur tellus ornare vehicula.</li>
              <li><i class="fa fa-cloud-download"></i> Phasellus in risus quis lectus iaculis vulputate id quis nisl.</li>
              <li><i class="fa fa-envelope"></i> Fusce sit amet orci quis arcu vestibulum vestibulum sed.</li>
            </ul>

          </div>
          <div class="col-md-6">

            <ul class="list list-icons list-icons-reverse">
              <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec dui consectetur tellus ornare vehicula.</li>
              <li><i class="fa fa-cloud-download"></i> Phasellus in risus quis lectus iaculis vulputate id quis nisl.</li>
              <li><i class="fa fa-envelope"></i> Fusce sit amet orci quis arcu vestibulum vestibulum sed.</li>
            </ul>

          </div>
        </div>

        <div class="row mt-xlg">
          <div class="col-md-6">

            <ul class="list list-icons list-icons-style-2">
              <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec dui consectetur tellus ornare vehicula.</li>
              <li><i class="fa fa-cloud-download"></i> Phasellus in risus quis lectus iaculis vulputate id quis nisl.</li>
              <li><i class="fa fa-envelope"></i> Fusce sit amet orci quis arcu vestibulum vestibulum sed.</li>
            </ul>

          </div>
          <div class="col-md-6">

            <ul class="list list-icons list-icons-style-2 list-icons-reverse">
              <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec dui consectetur tellus ornare vehicula.</li>
              <li><i class="fa fa-cloud-download"></i> Phasellus in risus quis lectus iaculis vulputate id quis nisl.</li>
              <li><i class="fa fa-envelope"></i> Fusce sit amet orci quis arcu vestibulum vestibulum sed.</li>
            </ul>

          </div>
        </div>

        <div class="row mt-xlg">
          <div class="col-md-6">

            <ul class="list list-icons list-icons-style-3">
              <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec dui consectetur tellus ornare vehicula.</li>
              <li><i class="fa fa-cloud-download"></i> Phasellus in risus quis lectus iaculis vulputate id quis nisl.</li>
              <li><i class="fa fa-envelope"></i> Fusce sit amet orci quis arcu vestibulum vestibulum sed.</li>
            </ul>

          </div>
          <div class="col-md-6">

            <ul class="list list-icons list-icons-style-3 list-icons-reverse">
              <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec dui consectetur tellus ornare vehicula.</li>
              <li><i class="fa fa-cloud-download"></i> Phasellus in risus quis lectus iaculis vulputate id quis nisl.</li>
              <li><i class="fa fa-envelope"></i> Fusce sit amet orci quis arcu vestibulum vestibulum sed.</li>
            </ul>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <hr class="tall">

            <h4>Sizes</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <ul class="list list-icons list-icons-sm">
              <li><i class="fa fa-caret-right"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

            <ul class="list list-icons">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

            <ul class="list list-icons list-icons-lg">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

          </div>
          <div class="col-md-6">

            <ul class="list list-icons list-icons-sm list-icons-reverse">
              <li><i class="fa fa-caret-left"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

            <ul class="list list-icons list-icons-reverse">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

            <ul class="list list-icons list-icons-lg list-icons-reverse">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

          </div>
        </div>

        <div class="row mt-xlg">
          <div class="col-md-6">

            <ul class="list list-icons list-icons-style-2 list-icons-sm">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

            <ul class="list list-icons list-icons-style-2">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

            <ul class="list list-icons list-icons-style-2 list-icons-lg">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

          </div>
          <div class="col-md-6">

            <ul class="list list-icons list-icons-style-2 list-icons-sm list-icons-reverse">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

            <ul class="list list-icons list-icons-style-2 list-icons-reverse">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

            <ul class="list list-icons list-icons-style-2 list-icons-lg list-icons-reverse">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

          </div>
        </div>

        <div class="row mt-xlg">
          <div class="col-md-6">

            <ul class="list list-icons list-icons-style-3 list-icons-sm">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

            <ul class="list list-icons list-icons-style-3">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

            <ul class="list list-icons list-icons-style-3 list-icons-lg">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

          </div>
          <div class="col-md-6">

            <ul class="list list-icons list-icons-style-3 list-icons-sm list-icons-reverse">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

            <ul class="list list-icons list-icons-style-3 list-icons-reverse">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

            <ul class="list list-icons list-icons-style-3 list-icons-lg list-icons-reverse">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <hr class="tall">

            <h4>Colors</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">

            <ul class="list list-icons list-primary">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis.</li>
            </ul>

            <ul class="list list-icons list-secondary">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis.</li>
            </ul>

            <ul class="list list-icons list-tertiary">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis.</li>
            </ul>

            <ul class="list list-icons list-quaternary">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis.</li>
            </ul>

          </div>
          <div class="col-md-4">

            <ul class="list list-icons list-icons-style-3 list-primary">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis.</li>
            </ul>

            <ul class="list list-icons list-icons-style-3 list-secondary">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis.</li>
            </ul>

            <ul class="list list-icons list-icons-style-3 list-tertiary">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis.</li>
            </ul>

            <ul class="list list-icons list-icons-style-3 list-quaternary">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis.</li>
            </ul>

          </div>
          <div class="col-md-4">

            <ul class="list list-icons list-icons-style-3 list-primary">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis.</li>
            </ul>

            <ul class="list list-icons list-icons-style-3 list-secondary">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis.</li>
            </ul>

            <ul class="list list-icons list-icons-style-3 list-tertiary">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis.</li>
            </ul>

            <ul class="list list-icons list-icons-style-3 list-quaternary">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis.</li>
            </ul>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <hr class="tall">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <h4>With Borders</h4>

            <ul class="list list-icons list-primary list-borders">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

            <ul class="list list-icons list-primary list-side-borders mt-xlg">
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
              <li><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

          </div>
          <div class="col-md-6">

            <h4>Animations</h4>

            <ul class="list list-icons list-primary">
              <li data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
              <li data-appear-animation="fadeInUp" data-appear-animation-delay="300"><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
              <li data-appear-animation="fadeInUp" data-appear-animation-delay="600"><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
              <li data-appear-animation="fadeInUp" data-appear-animation-delay="900"><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
              <li data-appear-animation="fadeInUp" data-appear-animation-delay="1200"><i class="fa fa-check"></i> Fusce sit amet orci quis arcu vestibulum vestibulum.</li>
            </ul>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <hr class="tall">



      </div>

  </div>

</div>