
<div class="slider-container transparent">
  <div class="slider" id="revolutionSlider" data-plugin-revolution-slider data-plugin-options='{"startheight": 500, "onHoverStop": "off"}'>
    <ul>
      <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
        <img src="img/slides/slide-corporate-1.jpg" alt="" data-bgposition="left center" data-kenburns="on" data-duration="16000" data-ease="Linear.easeNone" data-bgfit="150" data-bgfitend="100" data-bgpositionend="center center">

          <div class="tp-caption sft stb visible-lg"
             data-x="177"
             data-y="180"
             data-speed="300"
             data-start="1000"
             data-easing="easeOutExpo"><img src="img/slides/slide-title-border.png" alt=""></div>

          <div class="tp-caption top-label top-label lfl stl"
             data-x="227"
             data-y="180"
             data-speed="300"
             data-start="500"
             data-easing="easeOutExpo">¿Buscando atencion personalizada?</div>

          <div class="tp-caption sft stb visible-lg"
             data-x="630"
             data-y="180"
             data-speed="300"
             data-start="1000"
             data-easing="easeOutExpo"><img src="img/slides/slide-title-border.png" alt=""></div>

          <div class="tp-caption main-label main-label sft stb"
             data-x="135"
             data-y="210"
             data-speed="300"
             data-start="1500"
             data-easing="easeOutExpo">Permitanos ayudarlo</div>

          <div class="tp-caption bottom-label bottom-label sft stb"
             data-x="285"
             data-y="280"
             data-speed="500"
             data-start="2000"
             data-easing="easeOutExpo">Revise nuestros productos.</div>


                  <a class="tp-caption customin btn btn-lg btn-primary main-button" data-hash data-hash-offset="85" href="#home-intro"
                    data-x="300" data-hoffset="0"
                    data-y="330"
                    data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                    data-speed="800"
                    data-start="1700"
                    data-easing="Back.easeInOut"
                    data-endspeed="300">
                      Productos
                  </a>


      </li>
      <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
        <img src="img/slides/slide-corporate-2.jpg" alt="" data-bgposition="right center" data-kenburns="on" data-duration="16000" data-ease="Linear.easeNone" data-bgfit="150" data-bgfitend="100" data-bgpositionend="center center">

        <div class="tp-caption main-label main-label-dark sft stb"
           data-x="center"
           data-y="180"
           data-speed="300"
           data-start="1500"
           data-easing="easeOutExpo">Calidad de servicio</div>

        <div class="tp-caption bottom-label bottom-label-dark sft stb"
           data-x="center"
           data-y="245"
           data-speed="500"
           data-start="2000"
           data-easing="easeOutExpo">mas de  <strong>#10 años</strong> entregando calidad</div>

      </li>
    </ul>
  </div>
</div>
