<div class="slider-container transparent">
       <div class="slider" id="revolutionSlider" data-plugin-revolution-slider data-plugin-options='{"startheight": 500, "onHoverStop": "off"}'>
         <ul>
           <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
             <img src="img/slides/slide-corporate-1.jpg" alt="" data-bgposition="left center" data-kenburns="on" data-duration="16000" data-ease="Linear.easeNone" data-bgfit="150" data-bgfitend="100" data-bgpositionend="center center">

               <div class="tp-caption sft stb visible-lg"
                  data-x="177"
                  data-y="180"
                  data-speed="300"
                  data-start="1000"
                  data-easing="easeOutExpo"><img src="img/slides/slide-title-border-light.png" alt=""></div>

               <div class="tp-caption top-label top-label-dark lfl stl"
                  data-x="227"
                  data-y="180"
                  data-speed="300"
                  data-start="500"
                  data-easing="easeOutExpo">DO YOU NEED A NEW</div>

               <div class="tp-caption sft stb visible-lg"
                  data-x="477"
                  data-y="180"
                  data-speed="300"
                  data-start="1000"
                  data-easing="easeOutExpo"><img src="img/slides/slide-title-border-light.png" alt=""></div>

               <div class="tp-caption main-label main-label-dark sft stb"
                  data-x="135"
                  data-y="210"
                  data-speed="300"
                  data-start="1500"
                  data-easing="easeOutExpo">WEB DESIGN?</div>

               <div class="tp-caption bottom-label bottom-label-dark sft stb"
                  data-x="185"
                  data-y="280"
                  data-speed="500"
                  data-start="2000"
                  data-easing="easeOutExpo">Check out our options and features.</div>

           </li>
           <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
             <img src="img/slides/slide-corporate-2.jpg" alt="" data-bgposition="right center" data-kenburns="on" data-duration="16000" data-ease="Linear.easeNone" data-bgfit="150" data-bgfitend="100" data-bgpositionend="center center">

             <div class="tp-caption main-label main-label-dark sft stb"
                data-x="center"
                data-y="180"
                data-speed="300"
                data-start="1500"
                data-easing="easeOutExpo">MEET PORTO</div>

             <div class="tp-caption bottom-label bottom-label-dark sft stb"
                data-x="center"
                data-y="245"
                data-speed="500"
                data-start="2000"
                data-easing="easeOutExpo">The <strong>#1 Selling</strong> HTML Site Template on ThemeForest</div>

           </li>
         </ul>
       </div>