

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-none">Toggles Shortcodes</h2>
        <p>Toggles are great to show the content of your website and can be set in different styles.</p>

        <hr class="tall">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4>Default</h4>
        <div class="toggle toggle-primary" data-plugin-toggle>
          <section class="toggle active">
            <label>Curabitur eget leo at velit imperdiet vague iaculis vitaes?</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>
            </div>
          </section>
          <section class="toggle active">
            <label>Curabitur eget leo at imperdiet vague iaculis vitaes?</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at velit imperdiet vague iaculis vitaes?</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor, orci eros pellentesque odio, nec pellentesque erat ligula nec massa. Aenean consequat lorem ut felis ullamcorper posuere gravida tellus faucibus. Maecenas dolor elit, pulvinar eu vehicula eu, consequat et lacus. Duis et purus ipsum. In auctor mattis ipsum id molestie. Donec risus nulla, fringilla a rhoncus vitae, semper a massa. Vivamus ullamcorper, enim sit amet consequat laoreet, tortor tortor dictum urna, ut egestas urna ipsum nec libero. Nulla justo leo, molestie vel tempor nec, egestas at massa. Aenean pulvinar, felis porttitor iaculis pulvinar, odio orci sodales odio, ac pulvinar felis quam sit.</p>
            </div>
          </section>
        </div>
      </div>

      <div class="col-md-6">

        <hr class="visible-sm visible-xs tall" />

        <h4>One Toggle Open At A Time</h4>

        <div class="toggle toggle-primary" data-plugin-toggle data-plugin-options='{ "isAccordion": true }'>
          <section class="toggle active">
            <label>Curabitur eget leo at velit imperdiet vague iaculis vitaes?</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. </p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at velit imperdiet vague iaculis vitaes?</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor, orci eros pellentesque odio, nec pellentesque erat ligula nec massa. Aenean consequat lorem ut felis ullamcorper posuere gravida tellus faucibus. Maecenas dolor elit, pulvinar eu vehicula eu, consequat et lacus. Duis et purus ipsum. In auctor mattis ipsum id molestie. Donec risus nulla, fringilla a rhoncus vitae, semper a massa. Vivamus ullamcorper, enim sit amet consequat laoreet, tortor tortor dictum urna, ut egestas urna ipsum nec libero. Nulla justo leo, molestie vel tempor nec, egestas at massa. Aenean pulvinar, felis porttitor iaculis pulvinar, odio orci sodales odio, ac pulvinar felis quam sit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at velit imperdiet vague iaculis vitaes?</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor, orci eros pellentesque odio, nec pellentesque erat ligula nec massa. Aenean consequat lorem ut felis ullamcorper posuere gravida tellus faucibus. Maecenas dolor elit, pulvinar eu vehicula eu, consequat et lacus. Duis et purus ipsum. In auctor mattis ipsum id molestie. Donec risus nulla, fringilla a rhoncus vitae, semper a massa. Vivamus ullamcorper, enim sit amet consequat laoreet, tortor tortor dictum urna, ut egestas urna ipsum nec libero. Nulla justo leo, molestie vel tempor nec, egestas at massa. Aenean pulvinar, felis porttitor iaculis pulvinar, odio orci sodales odio, ac pulvinar felis quam sit.</p>
            </div>
          </section>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="tall">

        <h4>Colors</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="toggle toggle-primary" data-plugin-toggle>
          <section class="toggle active">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-3">
        <div class="toggle toggle-secondary" data-plugin-toggle>
          <section class="toggle active">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-3">
        <div class="toggle toggle-tertiary" data-plugin-toggle>
          <section class="toggle active">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-3">
        <div class="toggle toggle-quaternary" data-plugin-toggle>
          <section class="toggle active">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="tall">
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <h4>Small</h4>
        <div class="toggle toggle-primary toggle-sm" data-plugin-toggle>
          <section class="toggle active">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor, orci eros pellentesque odio, nec pellentesque erat ligula nec massa. Aenean consequat lorem </p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor, orci eros pellentesque odio, nec pellentesque erat ligula nec massa. Aenean consequat lorem ut felis ullamcorper posuere gravida tellus faucibus. Maecenas dolor elit, pulvinar eu vehicula eu, consequat et lacus. Duis et purus ipsum. In auctor mattis ipsum id molestie. Donec risus nulla, fringilla a rhoncus vitae, semper a massa. Vivamus ullamcorper, enim sit amet consequat laoreet, tortor tortor dictum urna, ut egestas urna ipsum nec libero. Nulla justo leo, molestie vel tempor nec, egestas at massa. Aenean pulvinar, felis porttitor iaculis pulvinar, odio orci sodales odio, ac pulvinar felis quam sit.</p>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-3">
        <h4>Default</h4>
        <div class="toggle toggle-primary" data-plugin-toggle>
          <section class="toggle active">
            <label>Curabitur eget leo.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor, orci eros pellentesque odio, nec pellentesque erat ligula nec massa. Aenean consequat lorem </p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor, orci eros pellentesque odio, nec pellentesque erat ligula nec massa. Aenean consequat lorem ut felis ullamcorper posuere gravida tellus faucibus. Maecenas dolor elit, pulvinar eu vehicula eu, consequat et lacus. Duis et purus ipsum. In auctor mattis ipsum id molestie. Donec risus nulla, fringilla a rhoncus vitae, semper a massa. Vivamus ullamcorper, enim sit amet consequat laoreet, tortor tortor dictum urna, ut egestas urna ipsum nec libero. Nulla justo leo, molestie vel tempor nec, egestas at massa. Aenean pulvinar, felis porttitor iaculis pulvinar, odio orci sodales odio, ac pulvinar felis quam sit.</p>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-6">
        <h4>Large</h4>
        <div class="toggle toggle-primary toggle-lg" data-plugin-toggle>
          <section class="toggle active">
            <label>Curabitur eget leo at velit imperdiet vague iaculis vitaes?</label>
            <div class="toggle-content">
              <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
              <img class="pull-left" width="150" height="106" src="img/device.png" alt="">
              <p>Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at imperdiet vague iaculis vitaes?</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at velit imperdiet vague iaculis vitaes?</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor, orci eros pellentesque odio, nec pellentesque erat ligula nec massa. Aenean consequat lorem ut felis ullamcorper posuere gravida tellus faucibus. Maecenas dolor elit, pulvinar eu vehicula eu, consequat et lacus. Duis et purus ipsum. In auctor mattis ipsum id molestie. Donec risus nulla, fringilla a rhoncus vitae, semper a massa. Vivamus ullamcorper, enim sit amet consequat laoreet, tortor tortor dictum urna, ut egestas urna ipsum nec libero. Nulla justo leo, molestie vel tempor nec, egestas at massa. Aenean pulvinar, felis porttitor iaculis pulvinar, odio orci sodales odio, ac pulvinar felis quam sit.</p>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="tall">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4>FAQ</h4>
        <div class="toggle toggle-primary" data-plugin-toggle>
          <section class="toggle">
            <label>Curabitur eget leo at velit imperdiet vague iaculis vitaes?</label>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor, orci eros pellentesque odio, nec pellentesque erat ligula nec massa. Aenean consequat lorem ut felis ullamcorper posuere gravida tellus faucibus. Maecenas dolor elit, pulvinar eu vehicula eu, consequat et lacus. Duis et purus ipsum. In auctor mattis ipsum id molestie. Donec risus nulla, fringilla a rhoncus vitae, semper a massa. Vivamus ullamcorper, enim sit amet consequat laoreet, tortor tortor dictum urna, ut egestas urna ipsum nec libero. Nulla justo leo, molestie vel tempor nec, egestas at massa. Aenean pulvinar, felis porttitor iaculis pulvinar, odio orci sodales odio, ac pulvinar felis quam sit.</p>
          </section>

          <section class="toggle">
            <label>Curabitur eget leo at velit imperdiet viaculis vitaes?</label>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa.  Aenean consequat lorem ut felis ullamcorper posuere gravida tellus faucibus. Maecenas dolor elit, pulvinar eu vehicula eu, consequat et lacus. Duis et purus ipsum. In auctor mattis ipsum id molestie. Donec risus nulla, fringilla a rhoncus vitae, semper a massa. Vivamus ullamcorper, enim sit amet consequat laoreet, tortor tortor dictum urna, ut egestas urna ipsum nec libero. Nulla justo leo, molestie vel tempor nec, egestas at massa. Aenean pulvinar, felis porttitor iaculis pulvinar, odio orci sodales odio, ac pulvinar felis quam sit.</p>
          </section>

          <section class="toggle">
            <label>Curabitur eget leo at velit imperdiet varius iaculis vitaes?</label>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor, orci eros pellentesque odio, nec pellentesque erat ligula nec massa. Aenean consequat lorem ut felis ullamcorper posuere gravida tellus faucibus. Maecenas dolor elit, pulvinar eu vehicula eu, consequat et lacus. Duis et purus ipsum. In auctor mattis ipsum id molestie. Donec risus nulla, fringilla a rhoncus vitae, semper a massa. Vivamus ullamcorper, enim sit amet consequat laoreet, tortor tortor dictum urna, ut egestas urna ipsum nec libero. Nulla justo leo, molestie vel tempor nec, egestas at massa. Aenean pulvinar, felis porttitor iaculis pulvinar, odio orci sodales odio, ac pulvinar felis quam sit.</p>
          </section>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="tall">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4>Simple</h4>
        <div class="toggle toggle-primary toggle-simple" data-plugin-toggle>
          <section class="toggle active">
            <label>Curabitur eget leo at velit imperdiet vague iaculis vitaes?</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>
            </div>
          </section>
          <section class="toggle active">
            <label>Curabitur eget leo at imperdiet vague iaculis vitaes?</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at velit imperdiet vague iaculis vitaes?</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor, orci eros pellentesque odio, nec pellentesque erat ligula nec massa. Aenean consequat lorem ut felis ullamcorper posuere gravida tellus faucibus. Maecenas dolor elit, pulvinar eu vehicula eu, consequat et lacus. Duis et purus ipsum. In auctor mattis ipsum id molestie. Donec risus nulla, fringilla a rhoncus vitae, semper a massa. Vivamus ullamcorper, enim sit amet consequat laoreet, tortor tortor dictum urna, ut egestas urna ipsum nec libero. Nulla justo leo, molestie vel tempor nec, egestas at massa. Aenean pulvinar, felis porttitor iaculis pulvinar, odio orci sodales odio, ac pulvinar felis quam sit.</p>
            </div>
          </section>
        </div>
      </div>

      <div class="col-md-6">

        <hr class="visible-sm visible-xs tall" />

        <h4>Simple and One Toggle Open At A Time</h4>

        <div class="toggle toggle-primary toggle-simple" data-plugin-toggle data-plugin-options='{ "isAccordion": true }'>
          <section class="toggle active">
            <label>Curabitur eget leo at velit imperdiet vague iaculis vitaes?</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. </p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at velit imperdiet vague iaculis vitaes?</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor, orci eros pellentesque odio, nec pellentesque erat ligula nec massa. Aenean consequat lorem ut felis ullamcorper posuere gravida tellus faucibus. Maecenas dolor elit, pulvinar eu vehicula eu, consequat et lacus. Duis et purus ipsum. In auctor mattis ipsum id molestie. Donec risus nulla, fringilla a rhoncus vitae, semper a massa. Vivamus ullamcorper, enim sit amet consequat laoreet, tortor tortor dictum urna, ut egestas urna ipsum nec libero. Nulla justo leo, molestie vel tempor nec, egestas at massa. Aenean pulvinar, felis porttitor iaculis pulvinar, odio orci sodales odio, ac pulvinar felis quam sit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at velit imperdiet vague iaculis vitaes?</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor, orci eros pellentesque odio, nec pellentesque erat ligula nec massa. Aenean consequat lorem ut felis ullamcorper posuere gravida tellus faucibus. Maecenas dolor elit, pulvinar eu vehicula eu, consequat et lacus. Duis et purus ipsum. In auctor mattis ipsum id molestie. Donec risus nulla, fringilla a rhoncus vitae, semper a massa. Vivamus ullamcorper, enim sit amet consequat laoreet, tortor tortor dictum urna, ut egestas urna ipsum nec libero. Nulla justo leo, molestie vel tempor nec, egestas at massa. Aenean pulvinar, felis porttitor iaculis pulvinar, odio orci sodales odio, ac pulvinar felis quam sit.</p>
            </div>
          </section>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="tall">

        <h4>Colors</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="toggle toggle-primary toggle-simple" data-plugin-toggle>
          <section class="toggle active">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-3">
        <div class="toggle toggle-secondary toggle-simple" data-plugin-toggle>
          <section class="toggle active">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-3">
        <div class="toggle toggle-tertiary toggle-simple" data-plugin-toggle>
          <section class="toggle active">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-3">
        <div class="toggle toggle-quaternary toggle-simple" data-plugin-toggle>
          <section class="toggle active">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="toggle">
            <label>Curabitur eget leo at.</label>
            <div class="toggle-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
        </div>
      </div>
    </div>

  </div>

</div>
