<!DOCTYPE html>
<html>

<head>
<%= render 'layouts/head' %>
  </head>






  <body>
  <div class="body">
<%= render 'layouts/header' %>

      <%= yield %>



    </div>



<%= render 'layouts/java' %>
  </body>
</html>
